@import "../node_modules/bootstrap/scss/bootstrap";

.slide{
    width: 30vw;
    height: 50vh;
}
img{
    width: 30vw;
    height: 50vh;
}

.d-md-block{
    background-color: black;
    opacity: .7;
}

.mudar{
    background-color: black;
    opacity: .7;
}
.tipos{
    color: aliceblue;
    height: 4vh;
    width: 30vw;
    background-color: rgb(24, 24, 24);
    text-align: center;
}