*{
    padding: 0px;
    margin: 0px;
    color: white;
    text-decoration: none;
    color: inherit; 
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    background-image: url(/image/background_main.jpg);
    height: 120vh;
    gap: 20px;
}               